:root {
    --red: #E50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body {
    background-color: var(--black);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

/* header {
    width: 100%;
    height: 45px;
    background: linear-gradient(rgba(0,0,0.40)20%, rgba(0,0,0,.40));
    position: fixed;
} */

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 120px;
    margin: 5px 0;
}

header nav a {
    text-decoration: none;
    color: #e5e5e5;
    margin-right: 10px;;
    font-size: 12px;
}

header nav a:hover {
    color: #b3b3b3;
}

/* filme principal */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0.40), rgba(0,0,0,.40) 30%), url('../img/capa-house.jpg');
    background-position-y: 20%;
    background-position-x: center;

    height: 420px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* .filme-principal .container {
    width: 70%;
} */

.filme-principal .descricao {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.titulo {
    margin-top: 20px;
    width: 300px;
    margin-left: -5px;
}

.botao {
    border: none;
    border-radius: 5px;
    color: white;

    padding: 12px 30px;
    margin-right: 15px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;
    transition: .15s ease all;
}

#more-info {
    background-color: rgba(109, 109, 110, 0.7);
}

#more-info:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

#play {
    background-color: white;
    color: black;
}

#play:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 40%;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,.60);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    pointer-events: none;
    display: flex;
}

.modal > div {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 15px 20px;
    background: rgba(20, 20, 20, .8);
    border-radius: 8px;
}

.modal div h3 {
    margin-top: 10px;
}

.modal div {
    font-size: 15px;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    margin-top: 5px;
    background: #91040c;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
}

.fechar:hover {
    background: #bb040c;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}

#rodape {
    text-align: center;
    font-size: 10pt;
    color: #888;

    margin-top: 5px;
    margin-bottom: 15px;
}

#rodape p {
    margin-bottom: 5px;
}

#rodape a i {
    color: #888;
    font-size: 20px
}

#rodape a i:hover {
    color: #b3b3b3;
}