@media screen and (max-width:741px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-bottom: 10px;
        width: 300px;
    }
}

@media screen and (min-width:1000px) {
    .botao {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:664px) {
    .titulo {
        width: 200px;
    }

    .botao {
        width: 200px;
    }
}

@media screen and (max-width: 412px) {
    .filme-principal .descricao {
        font-size: 12px;
    }
}